@model Sales.Models.Seller
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div>
    <h3>Seller</h3>
    <hr/>
    <div class="row mb-2">
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.BirthDate)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.BirthDate)
        </div>
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.BaseSalary)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.BaseSalary)
        </div>
        <div class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Department)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Department.Name)
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>